*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
   background-color:#AAB7B8;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculater{
   background-color: #154360;
    padding: 15px;
    border-radius: 35px;

    display: grid; 
    grid-template-columns: repeat(4,70px);

                
}
.ka{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffff
                inset  5px   5px 12px  rgba(0,0,0,.16);
    border:none ;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 40px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
.A{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffff
                inset  5px   5px 12px  rgba(0,0,0,.16);
    border:none ;
    border-radius: 50px;
    color: rgb(70, 70, 70);
       margin: 8px;
    font-size: 20px;
    font-weight: 500;
     padding: 2px;
}

.B{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffff
                inset  5px   5px 12px  rgba(0,0,0,.16);
    border:none ;
    border-radius: 50px;
    color: rgb(70, 70, 70);
       margin: 8px;
    font-size: 20px;
    font-weight: 500;
     padding: 2px;
}
.E{
    width: 120px;
    height: 48px;
    background-color:#e37b7b;
    box-shadow: inset -5px -5px 12px #ffff
                inset  5px   5px 12px  rgba(0,0,0,.16);
    border:none ;
    border-radius: 50px;
    color: rgb(170, 143, 143);
       margin: 8px;
    font-size: 20px;
     padding: 20px;
}
.he{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    border: 5px;
    font-weight: 900;
    justify-content: center;
    padding: auto;
    margin: 20px;
    margin-left: 47%;
}
